
.design-post-page {
    min-height: 80vh;
    margin: auto;
    float: none;
    margin-top: 20px;
    position: relative;
}

.big-thumb{
  height: auto !important;
}

.big-design-box{
  width: auto;
  min-height: 180px;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 20px;
  float: none;
  margin: 0px auto;
  position: relative;
  box-shadow: 5px 5px 20px -5px rgba(96, 96, 96, 0.43);
  margin-bottom: 20px;
  display: block;
  margin-top: 20px;

}

.design-heart{
  width: 25px !important;
height: 25px;
position: absolute;
right: 0px !important;
padding: 0px !important;
background-color: transparent;
border: none;
}
.design-full{
  width: 25px !important;
  right: 0px !important;
  top: 15px !important;
}

textarea{
  outline: 0 !important;
}

.go-back{
  text-decoration: none;
  color: #e98264;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
}

.comments{
  margin-top: 20px;
  padding: 30px;
  border: 1px solid white;
  position: relative;
}

.one-comment{
  margin-bottom: 10px;
  padding: 20px;
  min-height: 0px;
  background-color: white;
  box-shadow: 5px 5px 20px -5px rgba(96, 96, 96, 0.43);
}

.one-comment h3{
  color: #e98264;
      margin: 0px;
      font-weight: 400;
      font-size: 16px;
}
.one-comment p{
  color: #606060;
      font-weight: 300;
      margin: 10px;
}

.comments h4{
  color: #606060;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 13px;
}

.input-comment{
  margin-top: 20px;
  min-height: 100px;
    background-color: white;
    box-shadow: 5px 5px 20px -5px rgba(96, 96, 96, 0.43);
    padding: 20px;

}

.input-comment form textarea{
  width: 95%;
  height: 60px;
  margin: 10px auto;
  background: rgb(238, 238, 238);
  border: 1px solid rgba(96, 96, 96, 0.2);
  border-radius: 5px;
  padding: 10px;
}

textarea::-webkit-input-placeholder {
padding: 0px;
color:gray;
}


.input-comment form{
  color: rgba(96, 96, 96, 0.75);
font-size: 15px;
font-weight: 300;
}

.post-comment{
  margin-bottom: 10px;
  margin: auto;
  margin-top: 5px;
  background-color: rgb(96, 96, 96) !important;
  border: none;
  border-radius: 0px;
  width: auto;
  font-size: 12px;
  display: block;
  float: right;
  padding: 10px;
  color: white;
  font-weight: 600;
  text-transform: uppercase;
      margin-right: 10px;
}
