@media screen and ( max-width: 1025px) {
  .profile-wrap {
    display: block;
  }
  .top-info {
    width: 70%;
    margin: auto;
    margin-bottom: 10px;
  }
  .profile-box {
    flex-basis: 25%;
  }
  .profile-wrap .content {
    margin-left: 0px;
    width: 70% !important;
    margin: auto;
  }
  .user-info {
    flex: 1;
  }

  .design-post-box{
        width: 35%;
  }

}

@media screen and ( max-width: 780px) {
  .modal .modal-view {
    margin-top: 5vh;
    width: 80%;
    height: 90vh;
  }
  .modal .modal-view .design-post-box, .modal .modal-view .design-post-box .modal-img-wrap {
    height: 100%;
  }
  .design-img-thumb {
    height: 400px;
  }
  header nav {
    display: block;
  }
  .top-info {
    width: 100%;
  }
  .profile-wrap .content {
    width: 100% !important;
  }
  .header-links {
    display: none;
  }
  .join-content {
    width: 90%;
  }
  .boxes-wrap {
    display: block;
  }
  .design-post-box {
    width: auto;
    margin: auto;
    margin-top: 20px;
  }
  .contact-form {
    width: 65%;
  }
  .log-form form {
    width: 55%;
  }
  .login-title {
    margin-right: 0px;
    margin-bottom: 10px;
  }
  .login-photo {
    overflow: hidden;
  }
  .log-form {
    top: 390px;
  }
  .register-text {
    top: 190px;
  }
  .login-page {
    top: 240px;
  }
}

@media screen and ( max-width: 545px) {
  .join-us-bar h4 {
    width: 100%;
    text-align: center;
    margin: auto;
    margin-bottom: 10px;
  }
  .join-us-bar {
    text-align: center;
  }
  .join-us-bar a {
    float: none;
    margin: auto;
    display: initial;
  }
  .join-btns {
    display: block;
    text-align: center;
  }
  .contact-form {
    width: 80%;
  }
  .log-form form {
    width: 75%;
  }
  .top-info {
    display: block;
  }
  .profile-img {
    margin: auto;
  }
  .profile-img {
    width: 150px;
    height: 150px;
  }
  .top-info ul {
    max-width: 90%;
  }
}

@media screen and ( max-width: 480px) {
  .modal .modal-view {
    width: 100%;
  }
  .modal .modal-close {
    right: 0px;
  }
  .design-post-box {
    width: auto;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 15px;
  }
  .register-text p {
    width: 90%;
    font-size: 16px;
  }
  .profile-box {
    flex-basis: 22%;
    font-size: 22px;
  }
  .forum-post-box .like-btn {
    left: 18px !important;
    bottom: 8px !important;
    width: 125px !important;
    top: auto !important;
  }
  .comments {
    padding: 5px;
  }
  .one-comment p {
    margin: 0px;
    margin-top: 5px;
  }
  .input-comment form textarea {
    padding: 0px;
    width: 100%;
  }
  .post-comment {
    margin: 0px;
  }
  .design-img-thumb {
    height: 200px;
  }
  .contact-form {
    width: auto;
  }
  .join-content {
    padding-top: 0px;
    width: 90%;
    flex-direction: column;
  }
  .join-form-wrap h3 {
    width: 80%;
    text-align: center;
    margin: 10px auto;
    float: none;
    font-size: 25px;
  }
  .join-form {
    width: 80%;
    margin: auto;
  }
  .recommend-info {
    position: absolute;
    bottom: 10px;
    left: 20px;
  }
  .forum-post-box {
    width: auto;
  }
  .recommend-info span {
    font-size: 13px;
  }
  .main-page {
    width: 95%;
    padding: 0px;
    padding-bottom: 30px;
  }
  .design-img-thumb {
    height: 300px;
  }
  .open-post {
    position: absolute;
    right: 0px;
    bottom: 15px;
  }
  .about-us-photo {
    height: 300px;
  }
  .about-page h3 {
    margin: 0px;
    margin-bottom: 20px;
  }
  .about-page p {
    width: 95%;
    margin: auto;
    font-size: 18px;
  }
  .about-page {
    margin-bottom: 40px;
  }
  .cover-us-photo {
    height: 300px;
  }
}
